* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

textarea {
  padding: 0;
  resize: none;
  outline: none;
  transition: 0.5s;
}

button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

img {
  object-fit: cover;
}

.search-form {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
}

.search-input:hover {
  border-color: #000;
}

.search-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
}

.search-button:hover {
  background: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #4e75ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
  margin-top: 32px;
}

.gallery-card {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}

.gallery-img {
  display: block;
  width: 100%;
  height: 152px;
}

.gallery-info {
  margin-top: 4px;
  display: flex;
  justify-content: space-around;
}

.gallery-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more-btn.is-hidden {
  display: none;
}

.load-more-btn {
  display: block;
  margin: 32px auto 32px auto;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
}

.load-more-btn:hover {
  background: #6c8cff;
}
